<div class="col-md-3">

  <div class="panel panel-profile">
    <div class="panel-heading">
      <h2 class="panel-title">My profile</h2>
    </div>
    <div class="panel-body">
      <p><strong><%= current_user.email %></strong></p>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">My Accounts</h2>
    </div>
    <div class="panel-body">
      <ul>
        <% current_user.organizations.each do |org|%>
          <li>
            <%= org.name %>
            <%= link_to raw("<span title=\"Remove\" class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span>"), interest_user_path(current_user, org: org.id), method: :delete %>
          </li>
        <% end %>
      </ul>
      <% params = {} %>
      <% @categories.each do |category| %>
        <% params[category.title] = "1" %>
      <% end %>
      <%= link_to "Add more", select_organizations_user_path(current_user, params: params) %>
    </div>
  </div>
</div>


<div class="col-md-6">
  <h1> Your Unhactivate Feed</h1>

  <% @breaches.each do |breach| %>
    <%= render partial: "breaches/abstract", locals: {breach: breach} %>
  <% end %>

</div>
