<main>

  <row>

    <div class="col-md-6">

      <div>
        <h2>Monitor Breaches That Might Affect You</h2>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for breaches">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Doesn't Work</button>
          </span>
        </div><!-- /input-group -->

      </div>

      <div>
        <h2>Recent Breaches</h2>

        <% @recent_breaches.each do |breach| %>
          <h3>
            <%= link_to breach.title + ', ' + breach.breach_date.strftime, breach %>
          </h3>
          <p><%= breach.description %></p>
          <p><%= link_to 'Target: ' + breach.organization.name + ' (' + breach.organization.category.title + ')', breach.organization %></p>
        <% end %>

      </div>

    </div>

    <div class="col-md-6">

      <%= render partial: "devise/registrations/signup" if not current_user %>

        <h2>Learn How to Protect Your Information</h2>

          <% @articles.each do |article| %>

            <%= render partial: "articles/teaser", locals: {article: article} %>

          <% end %>

      <% if current_user.try(:admin?) %>
        <div class="admin">
          <h3>'ello, Gov'na!</h3>

          <p><%= link_to 'You can input new security breaches into the system!', new_breach_path %></p>

        </div>
      <% end %>

    </div>

  </row>

</main>
