<!DOCTYPE html>
<html>
<head>
  <title>Unhactivate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>

    <h1>Unhactivate</h1>

    <nav>
      <ul>
        <li><a href="/breaches">Breaches</a></li>
        <li><a href="/educate">Educate</a></li>
      </ul>
    </nav>

    <div class="log-in-bar">
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= form_for(:user, url: session_path(:user)) do |f| %>
          <%= f.text_field :email, placeholder: "Email"%>
          <%= f.password_field :password, placeholder: "Password" %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= f.submit 'Sign in' %>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        <% end %>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </header>

<%= yield %>

  <footer>
    <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/legal">Legal</a></li>
    </ul>
  </footer>

</body>
</html>
