<!DOCTYPE html>
<html>
<head>
  <title>Unhactivate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>

    <h1>Unhactivate</h1>

    <nav>
      <ul>
        <li><a href="/breaches">Breaches</a></li>
        <li><a href="/educate">Educate</a></li>
      </ul>
    </nav>

    <div class="log-in-bar">
      <p>login form goes here</p>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </header>

<%= yield %>

  <footer>
    <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/legal">Legal</a></li>
    </ul>
  </footer>

</body>
</html>
