<!DOCTYPE html>
<html>
<head>
  <title>Unhactivate</title>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>

    <!-- <h1>Unhactivate</h1> -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= nav_li "Unhactivate", root_path %></li>
            <%= nav_li "Breaches", breaches_path %>
            <%= nav_li "Educate", articles_path %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="log-in-bar">
                <% if current_user %>
                  <%= link_to current_user.email, user_path(current_user) %>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                <% else %>
                  <%= form_for(:user, url: session_path(:user), html: {class: "navbar-form"}) do |f| %>
                    <%= f.text_field :email, placeholder: "Email"%>
                    <%= f.password_field :password, placeholder: "Password" %>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                    <%= f.submit 'Log in', html: {class: "btn btn-default"} %>
                    <!-- <%= link_to "Forgot your password?", new_password_path(:user) %> -->
                  <% end %>
                <% end %>
              </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- <nav class="navbar navbar-default">
      <ul>
        <li><a href="/breaches">Breaches</a></li>
        <li><a href="/educate">Educate</a></li>
      </ul>
    </nav> -->



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </header>

<%= yield %>

  <footer>
    <ul class="navbar navbar-default navbar-fixed-bottom">
      <li><a href="/about">About Us</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/legal">Legal</a></li>
    </ul>
  </footer>

</body>
</html>
